<script>
  import type { z } from "astro:content";
import { gsap } from "gsap";
  const menuIcon = document.getElementById("menuIcon");
  const xIcon = document.getElementById("xIcon");

  menuIcon?.addEventListener("click", () => {
    gsap.to(menuIcon, {
      opacity: 0,
      scale: 0.5,
      duration: 0.3,
      zIndex: 20,
      onComplete: () => {
        gsap.to(xIcon, {
            opacity: 1,
            scale: 1,
            zIndex: 30
        })
      }
    })})

    xIcon?.addEventListener("click", () => {
        gsap.to(xIcon, {
            opacity: 0,
            scale: 0.5,
            duration: 0.3,
            zIndex: 20,
            onComplete: () => {
                gsap.to(menuIcon, {
                    opacity: 1,
                    scale: 1,
                    zIndex: 30
                })
            }
        })
    })
    
</script>

<div class="fixed top-0 w-full m-auto">
    <div class="flex relative content-between w-11/12 m-auto mt-18 pt-3">
        <img src="/cosplayer.png" />
        <img src="/menu.svg" id="menuIcon" class="menu_icon z-30 cursor-pointer absolute right-8 top-3">
        <img src="/xmark.svg" id="xIcon" class="menu_icon z-20 cursor-pointer absolute right-8 top-3 icon_inactive">
    </div>
    <div class="absolute h-[100vh] bg-[rgb(42,0,48)] w-6/12 right-0 top-0">
        <ul class="flex content-center mt-18 ml-15 text-xl text-white font-semibold">
            <li class="cursor-pointer py-3 px-5 item_active"> Characters. </li>
            <li class="cursor-pointer py-3 px-5 "> Pages. </li>
            <li class="cursor-pointer py-3 px-5 "> Trailers. </li>
            <li class="cursor-pointer py-3 px-5 "> Download. </li>
        </ul>
    </div>
</div>

<style>
    img{
        width: 2.5rem;
        object-fit: cover;
    }

    .icon_inactive{
        opacity: 0;
    }

    .item_active{
        background-color: white;
        color: black;
        border-radius: 2rem;
    }
    
</style>