---
import Frieren from "./frieren/Frieren";
import FrierenBottom from "./frieren/FrierenBottom";
import Header from "./Header.astro";
import Home from "./Home";
import Mikasa from "./mikasa/Mikasa"
import MikasaBottom from "./mikasa/MikasaBottom";
import SailorMoon from "./sailor/SailorMoon";
import SailorMoonBottom from "./sailor/SailorMoonBottom";
import Hinata from "./hinata/Hinata.jsx";
import Rukia from "./rukia/Rukia";
import ZeroTwo from "./zerotwo/ZeroTwo";
import Motoko from "./motoko/Motoko";
---


<div class="bg-[rgb(18,3,20)]">
  <Home client:load/>
  <Header />
  <SailorMoon client:load />
  <SailorMoonBottom client:load />
  <Mikasa client:load />
  <MikasaBottom client:load />
  <Frieren client:load />
  <FrierenBottom client:load />
  <Hinata client:load />
  <Rukia client:load />
  <ZeroTwo client:load />
  <Motoko client:load />
  <div class="h-screen w-full"> Hola </div>
</div>

