---
import Frieren from "./characters/frieren/Frieren.jsx";
import FrierenBottom from "./characters/frieren/FrierenBottom.jsx";
import Header from "./Header.astro";
import Home from "./Home";
import Mikasa from "./characters/mikasa/Mikasa.jsx"
import MikasaBottom from "./characters/mikasa/MikasaBottom.jsx";
import SailorMoon from "./characters/sailor/SailorMoon.jsx";
import SailorMoonBottom from "./characters/sailor/SailorMoonBottom.jsx";
import Hinata from "./characters/hinata/Hinata.jsx";
import Rukia from "./characters/rukia/Rukia.jsx";
import ZeroTwo from "./characters/zerotwo/ZeroTwo.jsx";
import Motoko from "./characters/motoko/Motoko.jsx";
import Nao from "./characters/nao/Nao.jsx";
import Separator from "./Separator";
import SoloLeveling from "./animes/SoleLeveling";
import Kaijuu from "./animes/Kaijuu"
import Jujutsu from "./animes/Jujutsu"
---


<div class="bg-[rgb(18,3,20)]">
  <Home client:load/>
  <Header />
  <SailorMoon client:load />
  <SailorMoonBottom client:load />
  <Mikasa client:load />
  <MikasaBottom client:load />
  <Frieren client:load />
  <FrierenBottom client:load />
  <Hinata client:load />
  <Rukia client:load />
  <ZeroTwo client:load />
  <Motoko client:load />
  <Nao client:load />
  <Separator />
  <SoloLeveling client:load />
  <Kaijuu client:load />
  <Jujutsu client:load />
  <div class="h-screen w-full"> Hola </div>
</div>

